/* Reset básico */
* {
    margin: 0;
    /* Remove a margem de todos os elementos */
    padding: 0;
    /* Remove o padding de todos os elementos */
    box-sizing: border-box;
    /* Faz com que a largura e altura dos elementos incluam o padding e a borda */
}

body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    display: flex;/* Usa o modelo de layout flexbox */
    flex-direction: column;/* Organiza os elementos filhos na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 70vh;/* Define a altura do corpo como 100% da altura da janela */
    background-color: #f8f8f8;/* Define a cor de fundo do corpo */
}

/* Cabeçalho com o logo */
header .logo {
    width: 250px; /* Define a largura do logo */
    margin-bottom: 20px; /* Adiciona um espaçamento abaixo do logo */
}

/* Container central */
.agenda {
    justify-content: center;
    background-color: #e0e0e0; /* Define o fundo do container */
    padding: 40px;/* Adiciona preenchimento interno ao container, criando um espaço em torno dos conteúdos */
    border-radius: 8px;/* Arredonda as bordas do container */
    text-align: center;/* Centraliza o texto dentro do container */
    width: 500px;/* Define a largura do container */
}



/* Estilo do espaço sala */
form select {
    width: 100%;/* Faz com que os selects ocupem toda a largura disponível */
    padding: 8px;/* Adiciona preenchimento dentro da caixa */
    margin-bottom: 15px;  /* Adiciona um espaçamento entre as caixas */
    border: 1px solid #898282; /* Define uma cor ao redor das caixas */
    border-radius: 10px;  /* Arredonda as bordas da caixa */
    font-size: 60px;/* Define o tamanho da fonte dentro da caixa*/
}
.botao{
    border-radius: 8px;
    padding: 10px;
    color: rgb(132, 132, 132);

}
#sala-select{
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 8px;
    width: 400px;/* Define a largura do container */
}
.div_flex {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 90%;
    justify-content:flex-start;
    
}

#menu_humbuguer {
    cursor: pointer;
}

#div_icones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: fixed;
    width: 400px;
    height: 90%;
    /* height: 100vh; */
    padding-left: 20px;
    padding-top: 70px;
    bottom: 18%;    /* Posiciona a div no fundo da tela */
    left: 0;      /* Posiciona a div à esquerda */
    
}


#div_icones img {
    width: 40px;
    
}


.imgs {
    margin-bottom: 50px;
}

.div_flex {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 90%;
    cursor: pointer;
    margin-top: 10px;
}

.div_flex p {
    display: none;
}