/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
}

/* Cabeçalho com o logo */
header .logo {
    width: 250px;
    margin-bottom: 20px;
}

/* Container central */
.agenda {
    background-color: #e0e0e0;
    padding: 90px; /*altura da tabela*/
    border-radius: 8px;
    text-align: center; /*Define para que a tabela fique no centro*/
    width: 700px; /*comprimento da tabela*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título e subtítulo */
.container h1 {
    font-size: 10px;
    margin-bottom: 8px;
    color: #333;
}

.container p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

/* Estilo dos selects */
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.div_flex  {
    margin-top: 10px;
    margin-left: 30px;
    display:fixed;
    cursor: pointer;
}
#div_icones img {
    width: 40px;
    cursor: pointer;
}
#div_icones {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 400px;
    height: 100vh;
    height: 1;
    padding-left: 20px;
    padding-top: 70px;
    left: 0%;
    top: 0px;
}